!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => '/style.css'}
    %script{:type => "text/javascript", :src => "/jquery.tools.min.js"}
    %script{:type => "text/javascript", :src => "/flowplayer-3.1.4.min.js"}
    %script{:type => "text/javascript", :src => "/jquery.form_prompt.js"}
    /[if lte IE 7]
      %link{:rel => "stylesheet", :type => "text/css", :href => "/ie.css"}
  %body
    .valignmid1#outermost
      .playerbox#playerbox
        %a#player{:href => "http://s3.amazonaws.com/mergefm-signup/mergeFM.m4v", :style => "display:block;width:640px;height:360px"}
    
      .valignmid2#wrapper
        .valignmid1.valignmid3#outer
          .leftdiv
            = yield
              
      /google analytics
      %script{:type => "text/javascript"}
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      %script{:type => "text/javascript"}
        try {
        var pageTracker = _gat._getTracker("UA-9227569-1");
        pageTracker._trackPageview();
        } catch(err) {}
