%form{:action => '/', :method => :post}
  %input#email{:title => "email", :name => "email", :class=>"text_feild wide"}
  %label{:for => "email"} 
    We'll let you know when we're in beta.
    %br
    We won't spam you.