%form{:action => '/', :method => :post}
  %input.big.wide#email{:title => "email", :name => "email"}
  %label.text{:for => "email"} 
    We'll let you know when we're in beta.
    %br
    We won't spam you.