%img{:src => 'logo_video.png', :rel => "#playerbox", :id=>"logovideo"}
%form{:action => '/', :method => :post}
  %div
    %input.big.wide#email{:title => "email", :name => "email"}
  %input{:type => :submit, :value => "", :class => "signup_button"}
  %label.text{:for => "email"} 
    We'll let you know when we're in beta.
    %br
    We won't spam you.


  :javascript
    $(document).ready(function(){ 
    	flowplayer("player", "/flowplayer-3.1.5.swf", {
    		clip: {
    			autoPlay: false
    		},
    		plugins: {controls: null}
    	}).controls("controls", {duration: 25});
     
     $("img[rel]").overlay();
    });