#logovideo{:rel => "#playerbox"}

%form{:action => '/', :method => :post}
  %div
    %input.big.wide#email{:title => "email", :name => "email"}
  %input{:type => :submit, :value => "", :class => "signup_button"}
  %label.text{:for => "email"} 
    We'll let you know when we're in beta.
    %br
    We won't spam you.


  :javascript
    $(window).load(function(){
        flowplayer("player", "/flowplayer-3.1.5.swf", {
          clip: {
            autoPlay: false
          },

          plugins: {
             controls: {
                progressGradient: 'medium',
                borderRadius: '0px',
                sliderColor: '#000000',
                backgroundColor: '#222222',
                tooltipColor: '#5F747C',
                durationColor: '#ffffff',
                progressColor: '#112233',
                bufferColor: '#4c3515',
                volumeSliderColor: '#000000',
                timeColor: '#b17725',
                buttonColor: '#e1972d',
                tooltipTextColor: '#ffffff',
                timeBgColor: '#555555',
                volumeSliderGradient: 'none',
                bufferGradient: 'none',
                buttonOverColor: '#a67a3a',
                sliderGradient: 'none',
                backgroundGradient: [0.6,0.3,0,0,0],
                height: 24,
                opacity: 1.0,
                mute: false
             }
          }
        });//.controls("controls", {duration: 127});
     
       $("div[rel]").overlay();
    });