#logovideo{:rel => "#playerbox"}

%form{:action => '/', :method => :post}
  %div
    %input.big.wide#email{:title => "email", :name => "email"}
  %input{:type => :submit, :value => "", :class => "submit_button"}
  %label.text{:for => "email"} 
    We'll let you know when we're in beta.
    %br
    We won't spam you.


  :javascript
    $(window).load(function(){
       var player = flowplayer("player", {src: "/flowplayer-3.1.5.swf", wmode: 'transparent'}, {
          clip: {
            autoPlay: false,
             onStart: function(clip) { 
                  pageTracker._trackEvent("Videos", "Play", clip.url); 
              }, 
              onPause: function(clip) { 
                  pageTracker._trackEvent("Videos", "Pause", clip.url, parseInt(this.getTime())); 
              }, 
              onFinish: function(clip) { 
                  pageTracker._trackEvent("Videos", "Finish", clip.url); 
              } 

          },
          plugins: {
             controls: {
                progressGradient: 'medium',
                borderRadius: '0px',
                sliderColor: '#000000',
                backgroundColor: '#222222',
                tooltipColor: '#5F747C',
                durationColor: '#ffffff',
                progressColor: '#112233',
                bufferColor: '#4c3515',
                volumeSliderColor: '#000000',
                timeColor: '#b17725',
                buttonColor: '#e1972d',
                tooltipTextColor: '#ffffff',
                timeBgColor: '#555555',
                volumeSliderGradient: 'none',
                bufferGradient: 'none',
                buttonOverColor: '#a67a3a',
                sliderGradient: 'none',
                backgroundGradient: [0.6,0.3,0,0,0],
                height: 24,
                opacity: 1.0,
                mute: false
             }
          }
        });
     
       $("div[rel]").overlay({
          onLoad: function() { player.play() }
       });
    });
