%form{:action => '/', :method => :post}
  %div
    %input.big.wide#email{:title => "email", :name => "email"}
  %input{:type => :submit, :value => "", :class => "signup_button"}
  %label.text{:for => "email"} 
    We'll let you know when we're in beta.
    %br
    We won't spam you.
