.wide {
  max-width: 395px;
  min-width: 395px;
  width: 395px;
}

.big {
  font: normal 40px Georgia Sans-Serif;
}

input {
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
}

#logovideo { 
  cursor: pointer;
  margin-left: 8px;
  width: 380px;
  height: 263px;
  background: url("logo_video.png") 0px -264px no-repeat;
}

#logovideo:hover{ 
  background: url("logo_video.png") no-repeat;
}

.prompt {
  font: normal 40px Georgia Sans-Serif;
  color: #ddd;
  padding-left: 10px;
}

.signup_button {
  background: url("/submit.png") no-repeat transparent;
  height: 60px;
  width:  400px;
  border: 0px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
}

.submit_button {
  background: url("/submit.png") no-repeat transparent;
  height: 60px;
  width:  400px;
  border: 0px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
}

textarea {
  width: 400px;
  height: 140px;
  margin-top: 0.3em;
  margin-bottom: 1em;
  font: normal 20px Georgia Sans-Serif;
}

.text {
  color: #EEE;
  display: block;
  font-size: 20px;
}

html,body,#outermost {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center; /* IE/Win bug fix */
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #FFF;
  background-image: url("stripe6.png");
  background-repeat: repeat-x;
}
/*
Works in IE5+/Win, Firefox, Safari, Opera 5+, Netscape 6+, Konqueror 3 
Does not work in NS4.x or IE/Mac
*/
.valignmid1 {
  position: relative;
  margin: 0 auto;
}
/* Opera 7.0x is buggy when you put display:table on <body> Opera 7.2+ and 6.x 
   don't appear to have this problem. We hide this from IE5/Mac, because it 
doesn't support display:table-cell and it doesn't have the same bug that allows
this to work in IE5-6/Win (hide from IE/Mac) \*/
.valignmid1 {
  display: table;
  vertical-align: middle;
}
/* Moz1.4 - Moz1.6 (NS7.1) bug, can't put position:relative on .valignmid2 \*/
.valignmid2 {
  padding-top: 4em;

}
/* end hide */
.valignmid3 {
  position: relative;
  -moz-box-shadow: 1 0 90px 5px #000; 
  -webkit-box-shadow: 0 20px 90px #000;
}

.leftdiv {
/* border: 1px solid white;*/
 background: black;
 padding: 0 2em 2em 2em;
}



.playerbox {
  background-image: url("transparent.png");
  background-repeat: no-repeat;
  width: 710px;
  height: 456px;
  padding-top: 50px;
  padding-left: 50px;
  display: none;
  z-index:10000; 
/*  -moz-box-shadow:0 0 90px 5px #000; 
  -webkit-box-shadow: 0 0 90px #000;*/
}

.playerbox .close {
  background-image:url(/close.png); 
  position:absolute; 
  right:25px; 
  top:5px; 
  cursor:pointer; 
  height:35px; 
  width:35px;
}






/* root element should be positioned relatively so that 
	child elements can be positioned absolutely */
div.controls {
	position:relative;
	height:40px;
	
	/* black background with a gradient */
	background:#000 url(/controls.png) repeat-x 0 -4px;
	width:640px;
}

/* play/pause button */
div.controls a.play, div.controls a.pause { 
	position:absolute;
	width: 46px;
	height: 40px;
	display:block;
	text-indent:-9999em;
	background:url(/controls.png) no-repeat 10px -61px;
	cursor:pointer;
	border-right:1px solid #000; 
}

div.controls a.play:hover {
	background-position:10px -105px;	
}

/* pause state */
div.controls a.pause { 
	background-position:11px -148px;
}

div.controls a.pause:hover {
	background-position:11px -192px;	
}

/* the timeline (or "scrubber")  */
div.controls div.track {  
	left:47px;
	position:absolute;
	cursor:pointer;
	width:425px;
	border-left:1px solid #999;
	height:40px;	
}

/* the draggable playhead */
div.controls div.playhead {
	position:absolute;
	cursor:pointer; 
	background-color:#4ff;
	opacity:0.3;
	filter: alpha(opacity=30);	
	width:3px;
	height:40px;
	border-right:1px solid #444;
}

/* buffer- and progress bars. upon runtime the width of these elements grows */
div.controls div.progress, div.controls div.buffer {	
	position:absolute;
	background-color:#4ff;
	filter: alpha(opacity=10);
	opacity:0.1;
	width:0px;
	height:40px;
}

div.controls div.buffer {
	background-color:#fff;
	opacity:0.1;
	filter: alpha(opacity=10);
}

/* time display */
div.controls div.time {
	position:absolute;		
	width:129px;
	left:470px;
	padding:12px 0;
	text-align:center;
	border:1px solid #999;
	border-width:0 1px;
	
	font-family:futura,"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;	
	font-size:12px;
	color:#fff; 
}

/* total duration in time display */
div.controls div.time strong {
	font-weight:normal;
	color:#666;
}

/* mute / unmute buttons */
div.controls a.mute, div.controls a.unmute {
	position:absolute;
	left:600px;
	width:40px;
	height:40px;
	text-align:center;
	padding:8px 0;
	cursor:pointer;
	text-indent:-9999em;
	background:url(/controls.png) no-repeat 5px -323px;
}

div.controls a.mute:hover {
	background-position:5px -367px;	
}

/* unmute state */
div.controls a.unmute {
	background-position:5px -235px;	
}

div.controls a.unmute:hover {
	background-position:5px -279px;	
}


